<section class="log-in-section main-section">
  <form action="/log-in" method="POST" novalidate>
    <h1>Log In</h1>
    <p>Required fields are followed by a <strong><span aria-label="required" class="required">*</span></strong></p>
    <span class="error" role="alert" aria-live="polite">
      <%= locals.errors?.find(error => error.path === 'authentication')?.msg %>
    </span>
    <section>
      <p>
        <label for="username">Username <strong><span aria-label="required" class="required">*</span></strong></label>
        <input type="username" id="username" name="username" maxlength="255" value="<%= locals.previousValues?.username %>" required>
      </p>
      <p>
        <label for="password">Password <strong><span aria-label="required" class="required">*</span></strong></label>
        <input type="password" id="password" name="password" maxlength="255" value="<%= locals.previousValues?.password %>" required>
      </p>
    </section>
    <section class="buttons-section">
      <button type="submit" class="submit-button">Log in</button>
    </section>
  </form>
  <p class="sign-up-para">Don't have an account? <a href="/sign-up" class="sign-up-link">Sign up today.</a></p>
</section>