<section class="membership-form-section main-section">
  <form action="/membership/member" method="POST" novalidate>
    <h1>Become a Member</h1>
    <p class="introduction-para">Do you want to join our exclusive club of riddle enjoyers? Then prove yourself here! Answer the riddle below correctly and take your seat here as a member on (website) today!</p>
    <section>
      <!-- It's Footsteps! -->
      <p>
        <label for="answer">The more you take, the more you leave behind. What am I?</label>
        <input type="text" id="answer" name="answer" maxlength="25" value="<%= locals.previousValues?.answer %>" required>
        <span class="error" role="alert" aria-live="polite">
          <%= locals.errors?.find(error => error.path === 'answer')?.msg %>
        </span>
      </p>
    </section>
    <section class="buttons-section">
      <button type="submit" class="submit-button">Answer</button>
    </section>
  </form>
</section>