<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
</head>
<body>
  <section class="membership-section">
    <form action="/membership/member" method="POST" novalidate>
      <h1>Become a Member</h1>
      <p>Do you want to join our exclusive club of riddle enjoyers? Then prove yourself here! Answer the riddle below correctly and take your seat here as a member on (website) today!</p>
      <section>
        <!-- It's Footsteps! -->
        <label for="answer">The more you take, the more you leave behind. What am I?</label>
        <input type="text" id="answer" name="answer" maxlength="25" value="<%= locals.previousValues?.answer %>" required>
        <span class="error" role="alert" aria-live="polite">
          <%= locals.errors?.find(error => error.path === 'answer')?.msg %>
        </span>
      </section>
      <section>
        <button type="submit">Answer</button>
      </section>
    </form>
  </section>
</body>
</html>