<section class="sign-up-section">
  <form>
    <h1>Sign Up</h1>
    <p>Required fields are followed by a <strong><span aria-label="required" class="required">*</span></strong></p>
    <section>
      <p>
        <label for="first_name">First Name <strong><span aria-label="required" class="required">*</span></strong></label>
        <input type="text" id="first_name" name="first_name" maxlength="64" required>
      </p>
      <p>
        <label for="last_name">Last Name <strong><span aria-label="required" class="required">*</span></strong></label>
        <input type="text" id="last_name" name="last_name" maxlength="64" required>
      </p>
      <p>
        <label for="email">Email <strong><span aria-label="required" class="required">*</span></strong></label>
        <input type="email" id="email" name="email" maxlength="255" required>
      </p>
      <p>
        <label for="password">Password</label>
        <input type="password" id="password" name="password" maxlength="255" required>
      </p>
    </section>
    <section>
      <button type="submit">Sign up</button>
    </section>
  </form>
</section>