main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(1rem, 5vw, 3rem);
}

.error-section {
  text-align: center;
  background-color: #fff;
  border-radius: 15px;
  padding: clamp(1rem, 4vw, 1.5rem);
}

.error-section h1 {
  font-size: clamp(1.75rem, 4vw, 2rem);
  color: var(--red-color);
  margin-bottom: 1rem;
}

.error-section p {
  margin-bottom: 2rem;
}
