main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(1rem, 5vw, 3rem);
}

.main-section {
  line-height: 1.5;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 5px;
  width: 100%;
  max-width: 30rem;
  padding: clamp(1rem, 4vw, 1.5rem) clamp(1rem, 4vw, 2.5rem);
  margin-top: 2rem;
}

.log-in-section {
  margin-top: -4rem;
}

.sign-up-section {
  margin-top: -9rem;
}

label {
  margin-bottom: 0.25rem;
}

input {
  font-size: 1rem;
  line-height: 1.5;
  display: block;
  border: 1px solid #cacaca;
  border-radius: 5px;
  width: 100%;
  padding: 0.25rem;
}

p {
  margin-bottom: 1rem;
}

.required {
  color: var(--red-color);
}

.error {
  font-weight: 500;
  color: var(--red-color);
}

.log-in-section .error {
  display: block;
  margin: 1rem 0;
}

.buttons-section {
  display: flex;
  justify-content: flex-end;
  margin: 2rem auto 1rem auto;
}

.submit-button {
  font-size: 1rem;
  font-weight: var(--button-weight);
  background-color: var(--button-color);
  border: none;
  border-radius: var(--button-radius);
  padding: var(--button-padding);
}

.submit-button:hover {
  background-color: var(--button-hover-color);
  transition: transform 0.1s ease;
}

.submit-button:active {
  transform: scale(0.95);
}

.log-in-para,
.sign-up-para {
  text-align: center;
  margin: 0;
}

@media (max-width: 350px) {
  .log-in-link,
  .sign-up-link {
    display: block;
  }
}

@media (min-width: 600px) {
  .sign-up-section {
    margin-top: -11rem;
  }
}
