main {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 clamp(1rem, 5vw, 5rem);
  margin-top: -8rem;
}

main section {
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  padding: 1.25rem;
  margin-bottom: 1rem;
}

.welcome-section h1 {
  margin-bottom: 1.5rem;
}

.welcome-section .button-link {
  display: inline-block;
  font-weight: 500;
  text-decoration: none;
  color: inherit;
  background-color: #f5ffca;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 0.5rem;
  transition: transform 0.1s ease;
}

.welcome-section .button-link:active {
  transform: scale(0.95);
}

.welcome-section .button-link:first-of-type {
  margin-right: 0.5rem;
}

.welcome-section .button-link:hover {
  background-color: #f8ffdd;
}

.membership-status {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.membership-status a {
  color: #386641;
}

.membership-status a:hover {
  color: #61a26e;
}

.membership-status p:not(:last-of-type) {
  margin-bottom: 0.25rem;
}

.messages-section h2 {
  margin-bottom: 1rem;
}

.message {
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  line-height: 1.5;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

.message-header {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 0.25rem;
}

.message h3 {
  margin: 1rem 0;
}

.message-header * {
  color: #636363;
}
