main {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 clamp(1rem, 5vw, 5rem);
  margin-top: -8rem;
}

main section:not(.delete-confirmation-section, .delete-confirmation-buttons) {
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  padding: 1.25rem;
  margin-bottom: 1rem;
}

.welcome-section h1 {
  margin-bottom: 1.5rem;
}

.welcome-section .button-link {
  display: inline-block;
  font-weight: var(--button-weight);
  text-decoration: none;
  color: inherit;
  background-color: #f5ffca;
  border: 1px solid var(--border-color);
  border-radius: var(--button-radius);
  padding: var(--button-padding);
  margin-bottom: 0.25rem;
}

.welcome-section .button-link:first-of-type {
  margin-right: 0.5rem;
}

.welcome-section .button-link:hover {
  background-color: #f8ffdd;
}

.membership-status {
  line-height: 1.5;
  margin-bottom: 1rem;
}

.membership-status a {
  color: #386641;
}

.membership-status a:hover {
  color: #61a26e;
}

.membership-status p:not(:last-of-type) {
  margin-bottom: 0.25rem;
}

.messages-section h2 {
  margin-bottom: 1rem;
}

.message {
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  line-height: 1.5;
  padding: 0.75rem;
  margin-bottom: 1rem;
}

.message-header {
  position: relative;
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 0.25rem;
}

.message h3 {
  margin: 1rem 0;
}

.message-header * {
  color: #636363;
}

.delete-button {
  position: absolute;
  top: 0;
  right: 0;

  display: none;
  font-weight: 500;
  background-color: var(--delete-background);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
}

.delete-button:hover {
  background-color: #ec8188;
}

.message:hover .delete-button {
  display: block;
}

.delete-confirmation-section,
.overlay {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  padding: 1rem;
}

.delete-confirmation-section {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.overlay {
  background-color: rgb(0, 0, 0, 0.5);
}

.delete-confirmation-form {
  background-color: #fff;
  border-radius: 5px;
  padding: clamp(1rem, 4vw, 1.5rem);
  z-index: 999;
}

.delete-confirmation-form h1,
.delete-confirmation-form p {
  margin-bottom: 1rem;
}

.delete-confirmation-form p {
  color: #414141;
}

.delete-confirmation-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.delete-button,
.delete-confirmation-buttons button {
  font-weight: var(--button-weight);
  border: none;
  border-radius: var(--button-radius);
  padding: var(--button-padding);
}

.delete-confirmation-buttons .form-cancel-button {
  margin-right: 0.75rem;
}

.delete-confirmation-buttons .form-cancel-button:hover {
  background-color: #ededed;
}

.delete-confirmation-buttons .form-delete-button {
  background-color: var(--delete-background);
  color: #fff;
}

.delete-confirmation-buttons .form-delete-button:hover {
  background-color: #ec8188;
}

.welcome-section .button-link,
.delete-button,
.delete-confirmation-buttons button {
  transition: transform 0.1s ease;
}

.welcome-section .button-link:active,
.delete-button:active,
.delete-confirmation-buttons button:active {
  transform: scale(0.95);
}

.sidebar {
  display: none;
}

.advertisement-section h3 {
  margin-bottom: 1rem;
}

.advertisement-section img {
  border-radius: 5px;
  width: 100%;
}

.advertisement-section img:hover {
  cursor: pointer;
}

@media (min-width: 1000px) {
  main {
    grid-template-columns: 3fr 1fr;
    grid-template-areas:
      "welcome sidebar"
      "messages sidebar";
    gap: clamp(1rem, 2vw, 2.5rem);
  }

  .welcome-section {
    grid-area: welcome;
    margin-bottom: 0 !important;
  }

  .messages-section {
    grid-area: messages;
  }

  .sidebar {
    grid-area: sidebar;
    display: block;
  }
}
