.header-container {
  background: var(--header-color);
  background: linear-gradient(
    180deg,
    rgb(241, 250, 196) 34%,
    rgba(254, 254, 253, 1) 100%
  );
  min-height: 15rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 3rem;
  padding: 0.5rem clamp(0.5rem, 4vw, 5rem);
  border-bottom: 1px solid var(--border-color);
}

header a {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-family: "breeserif-regular", serif;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.logo svg {
  width: 50px;
}

.right-section {
  display: flex;
  align-items: center;
}

.membership-links {
  display: none;
}

.membership-links a {
  margin-right: 1.5rem;
}

.profile-picture {
  width: auto;
  height: 2.5rem;
  margin: 0 1rem;
}

.profile-picture:hover,
.menu-button:hover {
  cursor: pointer;
  transition: transform 0.1s ease;
}

.profile-picture:active,
.menu-button:active {
  transform: scale(0.9);
}

.menu-container {
  position: relative;
}

.menu-button {
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: transparent;
}

.menu-button.open {
  border-color: var(--border-color);
  background-color: rgba(216, 229, 180, 0.5);
}

.menu-dropdown {
  position: absolute;
  top: 2.25rem;
  right: 0;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 0.5rem;
}

.menu-dropdown li {
  border-radius: 5px;
}

.menu-dropdown li:hover {
  background-color: rgb(234, 237, 221, 0.5);
}

.menu-dropdown a {
  display: block;
  padding: 0.5rem;
}

.hidden {
  display: none;
}

@media (min-width: 600px) {
  .right-section .membership-links {
    display: block;
  }

  .right-section .menu-container {
    display: none;
  }
}
