@font-face {
  font-family: "breeserif-regular";
  src:
    url("/fonts/breeserif-regular-webfont.woff2") format("woff2"),
    url("/fonts/breeserif-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --header-color: #d7e1a6;
  --border-color: #e2e2e2;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  background-color: #fefefd;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
