main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: clamp(1rem, 5vw, 3rem);
}

.thank-you-section {
  text-align: center;
  background-color: #fff;
  border: 1px solid var(--border-color);
  border-radius: 15px;
  padding: clamp(1rem, 4vw, 1.5rem);
  margin-top: -2rem;
}

.thank-you-section h1 {
  font-size: clamp(1.75rem, 4vw, 2rem);
  margin-bottom: 1rem;
}

.thank-you-section p {
  line-height: 1.5;
}

.thank-you-section .body {
  margin: 0 auto 2rem auto;
}

.thank-you-section .slogan {
  color: #818181;
}

.thank-you-section .logo {
  justify-content: center;
}

@media (min-width: 600px) {
  .thank-you-section .body {
    max-width: 80%;
  }
}
